html, body{
    margin: 0;
    padding: 0;

}

table{
    margin-left: 10%;
    text-align: center;
    border: 3px solid black;
}

tr{
    border: 1 px solid black;
}

td{
    border: 1px solid black;

}

.pau{
    color : red;
}


